<p><h2 style="text-align: center;">{{module.moduleName}}</h2></p>
<p class="lead" style="text-align: center;">{{module.moduleDescription}}</p>
<p>Video: <a href="{{module.videoPath}}">{{module.videoName}}</a></p>
<p>Reading: <a href="{{module.readingPath}}">{{module.readingName}}</a></p>
<p>Quiz: <a href="#:{{module.quizID}}">{{module.quizName}}</a></p>