<p><h3 style="text-align: center;">{{module.moduleName}}</h3></p>
<p class="lead">Module description: {{module.moduleDescription}}</p>
<p>Video: <a href="{{module.videoPath}}">{{module.videoName}}</a></p>
<p>Reading: <a href="{{module.readingPath}}">{{module.readingName}}</a></p>
<p>Quiz: <a href="#:{{module.quizID}}">{{module.quizName}}</a></p>