<p><h3>{{module.moduleName}}</h3></p>
<p class="lead">Module description: {{module.moduleDescription}}</p>
<p>Video name: {{module.videoName}}</p>
<p>Video path: {{module.videoPath}}</p>
<p>Reading name: {{module.readingName}}</p>
<p>Reading path: {{module.readingPath}}</p>
<p>Quiz id: {{module.quizID}}</p>
<p>Quiz name: {{module.quizName}}</p>