<p>Module name: {{module.moduleName}}</p>
<p>Module description: {{module.moduleDescription}}</p>
<p>Module added date: {{module.addedDate}}</p>
<p>Video name: {{module.videoName}}</p>
<p>Video path: {{module.videoPath}}</p>
<p>Reading name: {{module.readingName}}</p>
<p>Reading path: {{module.readingPath}}</p>
<p>Quiz id: {{module.quizID}}</p>
<p>Quiz name: {{module.quizName}}</p>