<p>{{module.moduleName}}</p>
<p>{{module.moduleDescription}}</p>
<p>{{module.addedDate}}</p>
<p>{{module.videoName}}</p>
<p>{{module.videoPath}}</p>
<p>{{module.readingName}}</p>
<p>{{module.readingPath}}</p>
<p>{{module.quizName}}</p>
<p>{{module.quizID}}</p>